__pycache__
.pytest_cache
.ipynb_checkpoints
tests/__pycache__
log/

*.jpg
*.png
*.out
*.err
run/
assets/rsc-assets
*log/
*/**/__pycache__

# Extensions
extensions-mvp/*/build/**
extensions-mvp/*/**.so

# Compiled extension kernels
build/*/**
extensions/*/**.so
extensions/**/build
