__pycache__
.pytest_cache

*.jpg
*.png
*.out
*.err
run/
assets/rsc-assets

# Extensions
extensions-mvp/*/build/**
extensions-mvp/*/**.so

# Compiled extension kernels
build/*/**
extensions/*/**.so
extensions/**/build
