__pycache__
.pytest_cache
.ipynb_checkpoints
tests/__pycache__
log/
extras/

*.jpg
*.png
*.avif
*.out
*.err
*run*/
*.zip
*.mp4
assets/rsc-assets
viz/
*log/
*/**/__pycache__
viz/

# Extensions
extensions-mvp/*/build/**
extensions-mvp/*/**.so

# Compiled extension kernels
build/*/**
extensions/*/**.so
extensions/**/build
